
@font-face {
	font-family: Bicubik;
	src:url("Bicubik.eot") format("eot"),
	url("Bicubik.OTF") format("opentype"),
	url("Bicubik.ttf") format("truetype"),
	url("Bicubik.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}
